config.php
error_log
*.swp
logs*
.buildpath
.project
.settings
node_modules
bower_components
build/
vendor/
reports/
package-lock.json
yarn-error.log
cli/bgbkup-cli.log
cron/cron-test.config
cron/cron-test.result
cron/restore-info.json
boldgrid-backup-cron.log
.ea-php-cli.cache
reports/
