*.swp
.buildpath
.claude/settings.local.json
.cursor/working/
.ea-php-cli.cache
.phpunit.result.cache
.project
.settings
.vscode
boldgrid-backup-cron.log
bower_components
build/
cli/bgbkup-cli.log
/bgbkup-cli.log
cli/verify-*
cli/restore-locator.php
config.php
cron/cron-test.config
cron/cron-test.result
cron/restore-info-*
error_log
logs*
node_modules
package-lock.json
reports/
vendor/
yarn-error.log
