config.php
error_log
*.swp
logs*
.buildpath
.project
.settings
node_modules
bower_components
build/
vendor/
package-lock.json
yarn-error.log
cron/cron-test.config
cron/cron-test.result
boldgrid-backup-cron.log
.ea-php-cli.cache
