[id^=toplevel_page_boldgrid-backup] .wp-menu-image::before {
	content: "\f178";
}

.dashicons-editor-help {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.help[data-id] {
	display: none;
}

/* Create an inline spinner. */
.spinner.inline {
	float: none;
	visibility: visible;
	vertical-align: bottom;
	margin-left: 0px;
}

/* When the user clicks to rollback site, show the spinner. */
#restore-now-section .spinner.is-active {
	display: inline-block;
}

/* Prevent clicks on disabled links. */
a[disabled] {
	pointer-events: none;
}

.dashicons-warning.red {
	color: #dc3232;
}

.dashicons-warning.yellow {
	color: #ffb900;
}

.dashicons.green {
	color: #46b450;
}

div .dashicons {
	vertical-align: bottom;
}

/* The table of size data. */
#size-data table tr td {
	vertical-align: top;
}

.total-size {
	background: #ddd;
	width: 325px;
}

.usage {
	height: 5px;
	max-width: 100% !important;
}

.usage.size-error {
	background: #dc3232;
}

.usage.size-warning {
	background: #ffb900;
}

.usage.size-success {
	background: #46b450;
}

/* Format a table within a table. */
.form-table table td {
	padding: 0px 10px 0px 0px;
}

/* Clean up headers we place in any admin notices. */
.notice .header-notice {
	margin-top: 0px;
}

hr.separator {
	margin: 30px 0px;
}