#backup-archive-summary-table,
#backup-archive-list-table {
	border: 0;
	text-align: left;
}

#backup-archive-list-table td {
	padding-right: 30px;
}

#backup-archive-list-body tr:hover {
	background-color: #E3E3E3;
}

#backup-archive-list-table .backup-archive-list-download,
#backup-archive-list-table .backup-archive-list-restore,
#backup-archive-list-table .backup-archive-list-delete {
	padding-right: 0;
}

#backup-site-now-section .spinner,
.restore-now-form .spinner,
.delete-now-form .spinner,
#restore-now-section .spinner,
#upload-archive-section .spinner {
	display: none;
	float: none !important;
}
