#schedule-dow-table {
	border: 0px;
	text-align: left;
	width: 600px;
}

#schedule-tod-table {
	border: 0px;
	text-align: left;
}

#notification-settings-table td {
	height: 22px;
}

#no-backup-days {
	color: #f95b26;
}

#boldgrid-settings-submit {
	margin-top: 20px;
}

.dashicons-editor-help {
	display: inline-block;
	position: relative;
	cursor: help;
}
