#header_banner {
	margin-left: -10px;
	width: calc(100% + 10px);
}

/**
* Hide all but content.
*
* This set of styles hides everything on the page except for what the plugin
* displays. This helps make the page look better in an iframe / modal.
*/
#adminmenumain,
#wpadminbar,
#wpfooter {
	display: none;
}
#wpwrap {
	position: absolute;
	top: 0px;
	left: 0px;
}
#wpwrap #wpcontent {
	margin: 0px; !important;
	padding-left: 10px; !important;
}
#wpbody-content {
	padding-bottom: 0px;
}